@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.1%; /* #F5F5F5 */
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 356 83% 65%; /* #ED5D66 */
    --primary-foreground: 210 40% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220 14.3% 9.1%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 8.9% 43.1%;
    --accent: 51 100% 50%; /* #ffd700 */
    --accent-foreground: 224 71.4% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 89%;
    --input: 220 13% 89%;
    --ring: 180 80% 70%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --primary: 356 83% 65%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 51 100% 50%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 180 80% 70%;
  }
}

@keyframes bee-fly {
  0% { transform: translate(0, 0) rotate(0deg); }
  
  12.5% { transform: translate(-25px, -20px) rotate(-15deg); } /* Top-left */
  25% { transform: translate(-25px, -20px) rotate(-15deg); } /* Halt */

  37.5% { transform: translate(25px, -20px) rotate(15deg); } /* Top-right */
  50% { transform: translate(25px, -20px) rotate(15deg); } /* Halt */

  62.5% { transform: translate(25px, 20px) rotate(-5deg); } /* Bottom-right */
  75% { transform: translate(25px, 20px) rotate(-5deg); } /* Halt */

  87.5% { transform: translate(-25px, 20px) rotate(5deg); } /* Bottom-left */
  100% { transform: translate(0, 0) rotate(0deg); } /* Return to start */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
